{% block lieferzeiten_management_page %}
    <sw-page class="lieferzeiten-management-page">
        <template #content>
            <sw-modal
                v-if="needsSelection"
                :title="$t('lieferzeiten-management.general.selectionTitle')"
                :showCloseButton="false"
                :disableBackdropClick="true"
            >
                <div class="sw-grid sw-grid--gap">
                    <sw-single-select
                        v-model="selectedArea"
                        :options="areaOptions"
                        :label="$t('lieferzeiten-management.general.selectionAreaLabel')"
                        :placeholder="$t('lieferzeiten-management.general.selectionAreaPlaceholder')"
                        @change="onSelectionChange"
                    />
                    <sw-single-select
                        v-model="selectedView"
                        :options="viewOptions"
                        :label="$t('lieferzeiten-management.general.selectionViewLabel')"
                        :placeholder="$t('lieferzeiten-management.general.selectionViewPlaceholder')"
                        @change="onSelectionChange"
                    />
                </div>
            </sw-modal>

            <template v-if="!needsSelection">
                <sw-card :title="$t('lieferzeiten-management.general.filtersTitle')" class="lieferzeiten-management-page__filters">
                    <div class="lieferzeiten-management-page__filters-grid">
                        <sw-text-field
                            v-model="orderNumberFilter"
                            :label="$t('lieferzeiten-management.general.filterOrderNumber')"
                            @change="onRefresh"
                        />
                        <sw-text-field
                            v-model="san6PackageFilter"
                            :label="$t('lieferzeiten-management.general.filterSan6Package')"
                            @change="onRefresh"
                        />
                        <sw-text-field
                            v-model="san6OrderNumberFilter"
                            :label="$t('lieferzeiten-management.general.filterSan6OrderNumber')"
                            @change="onRefresh"
                        />
                        <sw-text-field
                            v-model="trackingFilter"
                            :label="$t('lieferzeiten-management.general.filterTracking')"
                            @change="onRefresh"
                        />
                        <sw-text-field
                            v-model="packageStatusFilter"
                            :label="$t('lieferzeiten-management.general.filterPackageStatus')"
                            @change="onRefresh"
                        />
                        <sw-text-field
                            v-model="orderStatusFilter"
                            :label="$t('lieferzeiten-management.general.filterOrderStatus')"
                            @change="onRefresh"
                        />
                        <sw-text-field
                            v-model="businessStatusFilter"
                            :label="$t('lieferzeiten-management.general.filterBusinessStatus')"
                            @change="onRefresh"
                        />
                        <sw-text-field
                            v-model="updatedByFilter"
                            :label="$t('lieferzeiten-management.general.filterUpdatedBy')"
                            @change="onRefresh"
                        />
                        <sw-datepicker
                            v-model="shippedFrom"
                            date-type="date"
                            :label="$t('lieferzeiten-management.general.filterShippedFrom')"
                            @change="onRefresh"
                        />
                        <sw-datepicker
                            v-model="shippedTo"
                            date-type="date"
                            :label="$t('lieferzeiten-management.general.filterShippedTo')"
                            @change="onRefresh"
                        />
                        <sw-datepicker
                            v-model="deliveredFrom"
                            date-type="date"
                            :label="$t('lieferzeiten-management.general.filterDeliveredFrom')"
                            @change="onRefresh"
                        />
                        <sw-datepicker
                            v-model="deliveredTo"
                            date-type="date"
                            :label="$t('lieferzeiten-management.general.filterDeliveredTo')"
                            @change="onRefresh"
                        />
                        <sw-datepicker
                            v-model="latestShippingFrom"
                            date-type="date"
                            :label="$t('lieferzeiten-management.general.filterLatestShippingFrom')"
                            @change="onRefresh"
                        />
                        <sw-datepicker
                            v-model="latestShippingTo"
                            date-type="date"
                            :label="$t('lieferzeiten-management.general.filterLatestShippingTo')"
                            @change="onRefresh"
                        />
                        <sw-datepicker
                            v-model="latestDeliveryFrom"
                            date-type="date"
                            :label="$t('lieferzeiten-management.general.filterLatestDeliveryFrom')"
                            @change="onRefresh"
                        />
                        <sw-datepicker
                            v-model="latestDeliveryTo"
                            date-type="date"
                            :label="$t('lieferzeiten-management.general.filterLatestDeliveryTo')"
                            @change="onRefresh"
                        />
                        <sw-datepicker
                            v-model="supplierDeliveryStartFilter"
                            date-type="date"
                            :label="$t('lieferzeiten-management.general.filterSupplierDeliveryStart')"
                            @change="onRefresh"
                        />
                        <sw-datepicker
                            v-model="supplierDeliveryEndFilter"
                            date-type="date"
                            :label="$t('lieferzeiten-management.general.filterSupplierDeliveryEnd')"
                            @change="onRefresh"
                        />
                        <sw-datepicker
                            v-model="newDeliveryStartFilter"
                            date-type="date"
                            :label="$t('lieferzeiten-management.general.filterNewDeliveryStart')"
                            @change="onRefresh"
                        />
                        <sw-datepicker
                            v-model="newDeliveryEndFilter"
                            date-type="date"
                            :label="$t('lieferzeiten-management.general.filterNewDeliveryEnd')"
                            @change="onRefresh"
                        />
                    </div>
                </sw-card>

                <sw-card :title="$t('lieferzeiten-management.general.kpiTitle')" class="lieferzeiten-management-page__kpis">
                    <div class="sw-grid sw-grid--gap">
                        <div class="sw-card-section">
                            <p class="sw-card__title">
                                {{ $t('lieferzeiten-management.general.kpiOpenOrders') }}
                            </p>
                            <p class="sw-card__content">
                                {{ kpiOpenOrdersTotal }}
                            </p>
                        </div>
                        <div class="sw-card-section">
                            <p class="sw-card__title">
                                {{ $t('lieferzeiten-management.general.kpiOverdueShipping') }}
                            </p>
                            <p class="sw-card__content">
                                {{ kpiOverdueShipping }}
                            </p>
                        </div>
                        <div class="sw-card-section">
                            <p class="sw-card__title">
                                {{ $t('lieferzeiten-management.general.kpiOverdueDelivery') }}
                            </p>
                            <p class="sw-card__content">
                                {{ kpiOverdueDelivery }}
                            </p>
                        </div>
                    </div>
                </sw-card>

                <sw-card>
                    <sw-entity-listing
                        :items="items"
                        :repository="repository"
                        :columns="columns"
                        :isLoading="isLoading"
                        :total="total"
                        :showSelection="false"
                        @page-change="onPageChange"
                    >
                    <template #column-order.orderNumber="{ item }">
                        {{ item.order?.orderNumber }}
                    </template>
                    <template #column-order.orderDateTime="{ item }">
                        <sw-time-ago :date="item.order?.orderDateTime" />
                    </template>
                    <template #column-order.orderCustomer.firstName="{ item }">
                        {{ item.order?.orderCustomer?.firstName }} {{ item.order?.orderCustomer?.lastName }}
                    </template>
                    <template #column-additionalCustomerNames="{ item }">
                        <span v-if="item.additionalCustomerNames">{{ item.additionalCustomerNames }}</span>
                        <span v-else>-</span>
                    </template>
                    <template #column-paymentInfo="{ item }">
                        {{ formatPaymentInfo(item.order) }}
                    </template>
                    <template #column-orderStatus="{ item }">
                        {{ item.order?.stateMachineState?.name || '-' }}
                    </template>
                    <template #column-businessStatusLabel="{ item }">
                        {{ formatBusinessStatus(item) }}
                    </template>
                    <template #column-san6OrderNumber="{ item }">
                        <div v-for="position in getOrderPositions(item)" :key="position.id">
                            {{ position.san6OrderNumber || '-' }}
                        </div>
                    </template>
                    <template #column-san6PositionNumber="{ item }">
                        <div v-for="position in getOrderPositions(item)" :key="position.id">
                            {{ position.san6PositionNumber || '-' }}
                        </div>
                    </template>
                    <template #column-quantity="{ item }">
                        <div v-for="position in getOrderPositions(item)" :key="position.id">
                            {{ position.quantity || '-' }}
                        </div>
                    </template>
                    <template #column-trackingNumber="{ item }">
                        <sw-button
                            v-if="item.trackingNumber"
                            variant="link"
                            size="small"
                            @click="openTrackingModal(item)"
                        >
                            {{ item.trackingNumber }}
                        </sw-button>
                        <span v-else-if="shouldShowInternalShipping(item)">
                            {{ $t('lieferzeiten-management.general.trackingInternalShipping') }}
                        </span>
                        <span v-else>-</span>
                    </template>
                    <template #column-supplierDelivery="{ item }">
                        <div
                            v-for="position in getOrderPositions(item)"
                            :key="position.id"
                            class="lieferzeiten-management-page__position-block"
                        >
                            <sw-datepicker
                                v-model="position.supplierDeliveryStart"
                                date-type="date"
                                size="small"
                                :placeholder="$t('lieferzeiten-management.general.supplierDeliveryStart')"
                                @change="onSupplierDeliveryChange(position, item)"
                            />
                            <sw-datepicker
                                v-model="position.supplierDeliveryEnd"
                                date-type="date"
                                size="small"
                                :placeholder="$t('lieferzeiten-management.general.supplierDeliveryEnd')"
                                @change="onSupplierDeliveryChange(position, item)"
                            />
                        </div>
                    </template>
                    <template #column-supplierComment="{ item }">
                        <div
                            v-for="position in getOrderPositions(item)"
                            :key="position.id"
                            class="lieferzeiten-management-page__position-block"
                        >
                            <sw-text-field
                                v-model="position.supplierDeliveryComment"
                                size="small"
                                :placeholder="$t('lieferzeiten-management.general.supplierDeliveryComment')"
                                @change="onSupplierDeliveryChange(position, item)"
                            />
                        </div>
                    </template>
                    <template #column-newDelivery="{ item }">
                        <div class="lieferzeiten-management-page__position-block">
                            <sw-datepicker
                                v-model="item.newDeliveryStart"
                                date-type="date"
                                size="small"
                                :placeholder="$t('lieferzeiten-management.general.newDeliveryStart')"
                                :disabled="!hasSupplierDelivery(item)"
                                @change="onNewDeliveryChange(item)"
                            />
                            <sw-datepicker
                                v-model="item.newDeliveryEnd"
                                date-type="date"
                                size="small"
                                :placeholder="$t('lieferzeiten-management.general.newDeliveryEnd')"
                                :disabled="!hasSupplierDelivery(item)"
                                @change="onNewDeliveryChange(item)"
                            />
                        </div>
                    </template>
                    <template #column-newDeliveryComment="{ item }">
                        <sw-text-field
                            v-model="item.newDeliveryComment"
                            size="small"
                            :placeholder="$t('lieferzeiten-management.general.newDeliveryComment')"
                            @change="onNewDeliveryChange(item)"
                        />
                    </template>
                    <template #column-deliveryUpdatedBy="{ item }">
                        <div
                            v-if="item.newDeliveryUpdatedBy || item.newDeliveryUpdatedAt"
                            class="lieferzeiten-management-page__position-block"
                        >
                            <div><strong>{{ $t('lieferzeiten-management.general.updateLabelNewDelivery') }}</strong></div>
                            <div>
                                {{ getUserLabel(item.newDeliveryUpdatedBy) }}
                            </div>
                            <div v-if="item.newDeliveryUpdatedAt">
                                <sw-time-ago :date="item.newDeliveryUpdatedAt" />
                            </div>
                        </div>
                        <div
                            v-for="position in getOrderPositions(item)"
                            v-if="position.supplierDeliveryUpdatedBy || position.supplierDeliveryUpdatedAt"
                            :key="position.id"
                            class="lieferzeiten-management-page__position-block"
                        >
                            <div><strong>{{ $t('lieferzeiten-management.general.updateLabelSupplierDelivery') }}</strong></div>
                            <div>
                                {{ getUserLabel(position.supplierDeliveryUpdatedBy) }}
                            </div>
                            <div v-if="position.supplierDeliveryUpdatedAt">
                                <sw-time-ago :date="position.supplierDeliveryUpdatedAt" />
                            </div>
                        </div>
                        <div v-if="!hasAnyDeliveryUpdates(item)">-</div>
                    </template>
                    <template #column-actions="{ item }">
                        <div
                            v-for="position in getOrderPositions(item)"
                            :key="position.id"
                            class="lieferzeiten-management-page__position-block"
                        >
                            <sw-button
                                size="small"
                                variant="primary"
                                :disabled="creatingTaskIds[item.id]"
                                @click="createAdditionalDeliveryRequest(item, position)"
                            >
                                {{ $t('lieferzeiten-management.general.actionRequestAdditionalDelivery') }}
                            </sw-button>
                        </div>
                    </template>
                    </sw-entity-listing>
                </sw-card>
            </template>

            <sw-modal
                v-if="isTrackingModalOpen"
                :title="$t('lieferzeiten-management.general.trackingHistoryTitle')"
                @modal-close="closeTrackingModal"
            >
                <p v-if="trackingModalNumber"><strong>{{ trackingModalNumber }}</strong></p>
                <sw-data-grid
                    v-if="trackingEvents && trackingEvents.length"
                    :dataSource="trackingEvents"
                    :showSelection="false"
                    :columns="[
                        { property: 'occurredAt', label: 'Date' },
                        { property: 'status', label: 'Status' },
                        { property: 'description', label: 'Description' },
                    ]"
                />
                <p v-else>
                    {{ $t('global.default.empty') }}
                </p>
            </sw-modal>
        </template>
    </sw-page>
{% endblock %}
