{% block lieferzeiten_order_table %}
    <div class="lieferzeiten-order-table">
        <table class="sw-data-grid__table">
            <thead>
                <tr>
                    <th colspan="4">{{ $t('lieferzeiten.zones.order') }}</th>
                    <th colspan="7">{{ $t('lieferzeiten.zones.delivery') }}</th>
                    <th colspan="4">{{ $t('lieferzeiten.zones.status') }}</th>
                </tr>
                <tr>
                    <th>{{ $t('lieferzeiten.table.orderNumber') }}</th>
                    <th>{{ $t('lieferzeiten.table.san6OrderNumber') }}</th>
                    <th>{{ $t('lieferzeiten.table.san6Position') }}</th>
                    <th>{{ $t('lieferzeiten.table.totalQuantity') }}</th>
                    <th>{{ $t('lieferzeiten.table.orderDate') }}</th>
                    <th>{{ $t('lieferzeiten.table.paymentMethod') }}</th>
                    <th>{{ $t('lieferzeiten.table.paymentDate') }}</th>
                    <th>{{ $t('lieferzeiten.table.customerNames') }}</th>
                    <th>{{ $t('lieferzeiten.table.domain') }}</th>
                    <th>{{ $t('lieferzeiten.table.positions') }}</th>
                    <th>{{ $t('lieferzeiten.table.parcels') }}</th>
                    <th>Sendenummer</th>
                    <th>{{ $t('lieferzeiten.fields.supplierDate') }}</th>
                    <th>{{ $t('lieferzeiten.fields.supplierWeek') }}</th>
                    <th>{{ $t('lieferzeiten.fields.newDate') }}</th>
                    <th>{{ $t('lieferzeiten.fields.latestShipping') }}</th>
                    <th>{{ $t('lieferzeiten.fields.latestDelivery') }}</th>
                    <th>{{ $t('lieferzeiten.fields.comment') }}</th>
                    <th>{{ $t('lieferzeiten.fields.history') }}</th>
                    <th>Paket-Status</th>
                    <th>spätester Versandzeitpunkt</th>
                    <th>Versand-Datum</th>
                    <th>spätester Lieferzeitpunkt</th>
                    <th>Liefer-Datum</th>
                    <th>{{ $t('lieferzeiten.fields.shippingType') }}</th>
                    <th>Änderung durch User</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <template v-for="order in displayedOrders">
                    <tr :key="order.id">
                        <td>
                            <sw-button size="small" variant="ghost" @click="toggleOrder(order.id)">
                                {{ isExpanded(order.id) ? '-' : '+' }}
                            </sw-button>
                            {{ displayOrDash(order.orderNumber) }}
                        </td>
                        <td>{{ displayOrDash(order.san6OrderNumberDisplay) }}</td>
                        <td>{{ displayOrDash(order.san6PositionDisplay) }}</td>
                        <td>{{ displayOrDash(order.quantityDisplay) }}</td>
                        <td>{{ displayOrDash(order.orderDateDisplay) }}</td>
                        <td>{{ displayOrDash(order.paymentMethodDisplay) }}</td>
                        <td>{{ displayOrDash(order.paymentDateDisplay) }}</td>
                        <td>{{ displayOrDash(order.customerNamesDisplay) }}</td>
                        <td>{{ displayOrDash(order.domain) }}</td>
                        <td>{{ displayOrDash(order.positionsCountDisplay) }}</td>
                        <td>{{ parcelSummary(order) }}</td>
                        <td>{{ displayOrDash(order.trackingSummaryDisplay) }}</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>
                            <sw-text-field v-model:value="order.comment" :disabled="!hasEditAccess()" size="small" />
                            <sw-button v-if="hasEditAccess()" size="small" @click="saveComment(order)">
                                {{ $t('global.default.save') }}
                            </sw-button>
                            <sw-button v-if="hasEditAccess()" size="small" variant="ghost" @click="requestAdditionalDeliveryDate(order)">
                                {{ $t('lieferzeiten.additionalRequest.button') }}
                            </sw-button>
                        </td>
                        <td>
                            <ul>
                                <li v-for="entry in order.lieferterminLieferantHistory" :key="entry">{{ entry }}</li>
                                <li v-for="entry in order.neuerLieferterminHistory" :key="entry">{{ entry }}</li>
                                <li v-for="entry in order.commentHistory" :key="entry">{{ entry }}</li>
                            </ul>
                        </td>
                        <td>{{ displayOrDash(order.packageStatusDisplay) }}</td>
                        <td>{{ displayOrDash(order.latestShippingAtDisplay) }}</td>
                        <td>{{ displayOrDash(order.shippingDateDisplay) }}</td>
                        <td>{{ displayOrDash(order.latestDeliveryAtDisplay) }}</td>
                        <td>{{ displayOrDash(order.deliveryDateDisplay) }}</td>
                        <td>{{ shippingLabel(order) }}</td>
                        <td>{{ displayOrDash(order.lastChangedByDisplay) }}</td>
                        <td>{{ displayOrDash(order.businessStatusDisplay) }}</td>
                    </tr>
                    <tr v-if="isExpanded(order.id)" :key="`${order.id}-positions`">
                        <td colspan="26">
                            <table class="sw-data-grid__table">
                                <thead>
                                    <tr>
                                        <th>{{ $t('lieferzeiten.table.position') }}</th>
                                        <th>{{ $t('lieferzeiten.table.article') }}</th>
                                        <th>{{ $t('lieferzeiten.table.quantity') }}</th>
                                        <th>{{ $t('lieferzeiten.table.packageNumbers') }}</th>
                                        <th>{{ $t('lieferzeiten.fields.supplierDate') }}</th>
                                        <th>{{ $t('lieferzeiten.fields.supplierWeek') }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="position in order.positions" :key="position.id">
                                        <td>{{ position.number }}</td>
                                        <td>{{ position.label }}</td>
                                        <td>{{ position.quantity }}</td>
                                        <td>
                                            <template v-for="entry in resolveTrackingEntries(order, position)">
                                                <button
                                                    :key="`${position.id}-${entry.number}`"
                                                    type="button"
                                                    class="lieferzeiten-order-table__tracking-link"
                                                    @click="openTrackingHistory(entry)"
                                                >
                                                    {{ entry.number }}
                                                </button>
                                            </template>
                                        </td>
                                        <td>
                                            <sw-datepicker v-model:value="position.lieferterminLieferantRange.from" :disabled="!hasEditAccess()" size="small" />
                                            <sw-datepicker v-model:value="position.lieferterminLieferantRange.to" :disabled="!hasEditAccess()" size="small" />
                                            <sw-button v-if="hasEditAccess()" size="small" variant="primary" :disabled="!canSaveLiefertermin(order, position)" @click="saveLiefertermin(order, position)">
                                                {{ $t('global.default.save') }}
                                            </sw-button>
                                        </td>
                                        <td>{{ weekLabelFromDate(position.lieferterminLieferantRange.to) }}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="sw-data-grid__table">
                                <thead>
                                    <tr>
                                        <th>{{ $t('lieferzeiten.table.parcels') }}</th>
                                        <th>{{ $t('lieferzeiten.fields.newDate') }}</th>
                                        <th>{{ $t('lieferzeiten.fields.supplierWeek') }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="parcel in order.parcels" :key="parcel.id">
                                        <td>{{ parcel.id }}</td>
                                        <td>
                                            <sw-datepicker v-model:value="parcel.neuerLieferterminRange.from" :disabled="!hasEditAccess() || !parcel.supplierRange.from" size="small" />
                                            <sw-datepicker v-model:value="parcel.neuerLieferterminRange.to" :disabled="!hasEditAccess() || !parcel.supplierRange.to" size="small" />
                                            <sw-button v-if="hasEditAccess()" size="small" variant="primary" :disabled="!canSaveNeuerLiefertermin(parcel)" @click="saveNeuerLiefertermin(order, parcel)">
                                                {{ $t('global.default.save') }}
                                            </sw-button>
                                        </td>
                                        <td>{{ weekLabelFromDate(parcel.neuerLieferterminRange.to) }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>


        <div
            v-if="showTrackingModal"
            class="lieferzeiten-order-table__tracking-overlay"
            role="dialog"
            aria-modal="true"
        >
            <div class="lieferzeiten-order-table__tracking-dialog">
                <header class="lieferzeiten-order-table__tracking-header">
                    <h3>
                        Tracking {{ activeTracking && activeTracking.carrier && activeTracking.carrier.toUpperCase() }} / {{ activeTracking && activeTracking.number }}
                    </h3>
                    <button type="button" class="lieferzeiten-order-table__tracking-close" @click="closeTrackingModal">×</button>
                </header>

                <div class="lieferzeiten-order-table__tracking-body">
                    <div v-if="isTrackingLoading">{{ $t('lieferzeiten.tracking.loading') }}</div>
                    <div v-else-if="trackingError" class="lieferzeiten-order-table__tracking-error">{{ trackingError }}</div>
                    <div v-else-if="!trackingEvents.length">{{ $t('lieferzeiten.tracking.empty') }}</div>
                    <ul v-else class="lieferzeiten-order-table__tracking-list">
                        <li v-for="(event, index) in trackingEvents" :key="`${event.timestamp}-${index}`">
                            <strong>{{ event.status }}</strong>
                            <div>{{ event.label }}</div>
                            <small>{{ event.timestamp }}<span v-if="event.location"> · {{ event.location }}</span></small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <sw-empty-state
            v-if="displayedOrders.length === 0"
            :title="$t('lieferzeiten.emptyState.title')"
            :description="$t('lieferzeiten.emptyState.description')"
        />
    </div>
{% endblock %}
