{% block lieferzeiten_order_table %}
    <div class="lieferzeiten-order-table">
        <table class="sw-data-grid__table">
            <thead>
                <tr class="lieferzeiten-order-table__zone-row">
                    <th colspan="10" title="Bestellung: Auftrags-, Kunden- und Positionsdaten">{{ $t('lieferzeiten.zones.order') }}</th>
                    <th colspan="11" title="Lieferung: Paket-, Tracking- und Termininformationen">{{ $t('lieferzeiten.zones.delivery') }}</th>
                    <th colspan="5" title="Status: interne Hinweise, Statuspflege und Protokoll">{{ $t('lieferzeiten.zones.status') }}</th>
                </tr>
                <tr class="lieferzeiten-order-table__column-row">
                    <th>{{ $t('lieferzeiten.table.orderNumber') }}</th>
                    <th>{{ $t('lieferzeiten.table.san6OrderNumber') }}</th>
                    <th>{{ $t('lieferzeiten.table.san6Position') }}</th>
                    <th>{{ $t('lieferzeiten.table.totalQuantity') }}</th>
                    <th>{{ $t('lieferzeiten.table.orderDate') }}</th>
                    <th>{{ $t('lieferzeiten.table.paymentMethod') }}</th>
                    <th>{{ $t('lieferzeiten.table.paymentDate') }}</th>
                    <th>{{ $t('lieferzeiten.table.customerNames') }}</th>
                    <th>{{ $t('lieferzeiten.table.domain') }}</th>
                    <th>{{ $t('lieferzeiten.table.positions') }}</th>
                    <th>{{ $t('lieferzeiten.table.parcels') }}</th>
                    <th>{{ $t('lieferzeiten.table.tracking') }}</th>
                    <th>{{ $t('lieferzeiten.fields.supplierDate') }}</th>
                    <th>{{ $t('lieferzeiten.fields.supplierWeek') }}</th>
                    <th>{{ $t('lieferzeiten.fields.newDate') }}</th>
                    <th>{{ $t('lieferzeiten.table.packageStatus') }}</th>
                    <th>{{ $t('lieferzeiten.table.latestShippingDeadline') }}</th>
                    <th>{{ $t('lieferzeiten.table.shippingDate') }}</th>
                    <th>{{ $t('lieferzeiten.table.latestDeliveryDeadline') }}</th>
                    <th>{{ $t('lieferzeiten.table.deliveryDate') }}</th>
                    <th>{{ $t('lieferzeiten.fields.shippingType') }}</th>
                    <th>{{ $t('lieferzeiten.fields.comment') }}</th>
                    <th>{{ $t('lieferzeiten.fields.history') }}</th>
                    <th>{{ $t('lieferzeiten.table.businessStatus') }}</th>
                    <th>{{ $t('lieferzeiten.table.status') }}</th>
                    <th>{{ $t('lieferzeiten.fields.audit') }}</th>
                </tr>
            </thead>
            <tbody>
                <template v-for="row in displayedRows">
                    <tr :key="row.key">
                        <td>
                            <sw-button size="small" variant="ghost" @click="toggleOrder(row.order.id)">
                                {{ isExpanded(row.order.id) ? '-' : '+' }}
                            </sw-button>
                            {{ displayOrDash(row.order.orderNumber) }}
                        </td>
                        <td>{{ displayOrDash(row.order.san6OrderNumberDisplay) }}</td>
                        <td>{{ displayOrDash(row.san6PositionDisplay) }}</td>
                        <td>{{ displayOrDash(row.quantityDisplay) }}</td>
                        <td>{{ displayOrDash(row.order.orderDateDisplay) }}</td>
                        <td>{{ displayOrDash(row.order.paymentMethodDisplay) }}</td>
                        <td>{{ displayOrDash(row.order.paymentDateDisplay) }}</td>
                        <td>{{ displayOrDash(row.order.customerNamesDisplay) }}</td>
                        <td>{{ displayOrDash(row.order.domain) }}</td>
                        <td>{{ displayOrDash(row.positionsDisplay) }}</td>
                        <td>{{ row.parcelsDisplay }}</td>
                        <td>
                            <template v-if="row.trackingEntries.length">
                                <button
                                    v-for="entry in row.trackingEntries"
                                    :key="`${row.key}-${entry.carrier}-${entry.number}`"
                                    type="button"
                                    class="lieferzeiten-order-table__tracking-link"
                                    @click="openTrackingHistory(entry)"
                                >
                                    {{ entry.number }}
                                </button>
                            </template>
                            <template v-else>
                                -
                            </template>
                        </td>
                        <td>{{ displayOrDash(row.supplierDateDisplay) }}</td>
                        <td>{{ displayOrDash(row.supplierWeekDisplay) }}</td>
                        <td>{{ displayOrDash(row.newDateDisplay) }}</td>
                        <td>{{ displayOrDash(row.packageStatusDisplay) }}</td>
                        <td>{{ displayOrDash(row.order.latestShippingDeadlineDisplay) }}</td>
                        <td>{{ displayOrDash(row.order.shippingDateDisplay) }}</td>
                        <td>{{ displayOrDash(row.order.latestDeliveryDeadlineDisplay) }}</td>
                        <td>{{ displayOrDash(row.order.deliveryDateDisplay) }}</td>
                        <td>{{ row.shippingLabelDisplay }}</td>
                        <td>
                            <sw-text-field v-model:value="row.order.comment" :disabled="!hasEditAccess()" size="small" />
                            <sw-button v-if="hasEditAccess()" size="small" :disabled="!canSaveComment(row.order)" @click="saveComment(row.order)">
                                {{ $t('global.default.save') }}
                            </sw-button>
                        </td>
                        <td>
                            <ul>
                                <li v-for="(entry, index) in row.order.lieferterminLieferantHistory" :key="`liefertermin-${row.order.id}-${index}`">{{ formatHistoryEntry(entry) }}</li>
                                <li v-for="(entry, index) in row.order.neuerLieferterminHistory" :key="`neuer-liefertermin-${row.order.id}-${index}`">{{ formatHistoryEntry(entry) }}</li>
                                <li v-for="(entry, index) in row.order.commentHistory" :key="`comment-${row.order.id}-${index}`">{{ formatHistoryEntry(entry) }}</li>
                            </ul>
                        </td>
                        <td>
                            <sw-single-select
                                v-model:value="row.order.selectedBusinessStatus"
                                :options="editableBusinessStatuses"
                                :disabled="!hasEditAccess()"
                                size="small"
                                :placeholder="$t('lieferzeiten.statusChange.placeholder')"
                            />
                            <sw-button
                                v-if="hasEditAccess()"
                                size="small"
                                variant="primary"
                                :disabled="!canSaveBusinessStatus(row.order)"
                                @click="saveBusinessStatus(row.order)"
                            >
                                {{ $t('lieferzeiten.statusChange.save') }}
                            </sw-button>
                            <div class="lieferzeiten-order-table__business-status-current">{{ businessStatusLabel(row.order) }}</div>
                        </td>
                        <td>
                            <sw-label :variant="isOrderOpen(row.order) ? 'warning' : 'success'">
                                {{ isOrderOpen(row.order) ? $t('lieferzeiten.status.open') : $t('lieferzeiten.status.closed') }}
                            </sw-label>
                            <div v-if="canUpdateOrderStatus(row.order)" class="lieferzeiten-order-table__status-editor">
                                <sw-single-select
                                    v-model:value="row.order.selectedManualStatus"
                                    size="small"
                                    :options="statusOptions()"
                                    value-property="value"
                                    label-property="label"
                                />
                                <sw-button
                                    size="small"
                                    variant="primary"
                                    :is-loading="Boolean(statusUpdateLoadingByOrder[row.order.id])"
                                    @click="saveOrderStatus(row.order)"
                                >
                                    {{ $t('lieferzeiten.status.manual.save') }}
                                </sw-button>
                            </div>
                        </td>
                        <td>{{ resolveAuditDisplay(row.order) }}</td>
                    </tr>
                    <tr v-if="row.showDetailsRow && isExpanded(row.order.id)" :key="`${row.order.id}-positions`">
                        <td colspan="26">
                            <sw-loader v-if="isDetailsLoading(row.order.id)" />

                            <template v-else>
                            <table class="sw-data-grid__table">
                                <thead>
                                    <tr>
                                        <th>{{ $t('lieferzeiten.table.position') }}</th>
                                        <th>{{ $t('lieferzeiten.table.article') }}</th>
                                        <th>{{ $t('lieferzeiten.table.quantity') }}</th>
                                        <th>{{ $t('lieferzeiten.table.packageNumbers') }}</th>
                                        <th>{{ $t('lieferzeiten.fields.shippingType') }}</th>
                                        <th>{{ $t('lieferzeiten.fields.supplierDate') }}</th>
                                        <th>{{ $t('lieferzeiten.fields.supplierWeek') }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="position in row.order.positions" :key="position.id">
                                        <td>{{ displayOrDash(position.number || position.positionNumber) }}</td>
                                        <td>{{ displayOrDash(position.label || position.article) }}</td>
                                        <td>{{ positionQuantityDisplay(position) }}</td>
                                        <td>
                                            <template v-for="entry in resolveTrackingEntries(row.order, position)">
                                                <button
                                                    :key="`${position.id}-${entry.number}`"
                                                    type="button"
                                                    class="lieferzeiten-order-table__tracking-link"
                                                    @click="openTrackingHistory(entry)"
                                                >
                                                    {{ entry.number }}
                                                </button>
                                            </template>
                                        </td>
                                        <td>{{ resolvePackageStatusField(row.order, position) }}</td>
                                        <td>
                                            <sw-datepicker v-model:value="position.lieferterminLieferantRange.from" :disabled="!hasEditAccess()" size="small" />
                                            <sw-datepicker v-model:value="position.lieferterminLieferantRange.to" :disabled="!hasEditAccess()" size="small" />
                                            <sw-button v-if="hasEditAccess()" size="small" variant="primary" :disabled="!canSaveLiefertermin(row.order, position)" @click="saveLiefertermin(row.order, position)">
                                                {{ $t('global.default.save') }}
                                            </sw-button>
                                            <sw-button v-if="hasEditAccess()" size="small" variant="ghost" @click="requestAdditionalDeliveryDate(row.order, position.id)">
                                                {{ $t('lieferzeiten.additionalRequest.button') }}
                                            </sw-button>
                                        </td>
                                        <td>{{ weekLabelFromDate(position.lieferterminLieferantRange.to) }}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="sw-data-grid__table">
                                <thead>
                                    <tr>
                                        <th>{{ $t('lieferzeiten.table.parcels') }}</th>
                                        <th>{{ $t('lieferzeiten.table.packageStatus') }}</th>
                                        <th>Versand-Datum</th>
                                        <th>Liefer-Datum</th>
                                        <th>{{ $t('lieferzeiten.fields.newDate') }}</th>
                                        <th>{{ $t('lieferzeiten.fields.supplierWeek') }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="parcel in row.order.parcels" :key="parcel.id">
                                        <td>{{ displayOrDash(parcel.paketId || parcel.id) }}</td>
                                        <td>{{ displayOrDash(parcel.statusDisplay) }}</td>
                                        <td>{{ displayOrDash(parcel.shippingDateDisplay) }}</td>
                                        <td>{{ displayOrDash(parcel.deliveryDateDisplay) }}</td>
                                        <td>
                                            <sw-datepicker v-model:value="parcel.neuerLieferterminRange.from" :disabled="!hasEditAccess() || !parcel.supplierRange.from || !isParcelEditableByStatus(parcel)" size="small" />
                                            <sw-datepicker v-model:value="parcel.neuerLieferterminRange.to" :disabled="!hasEditAccess() || !parcel.supplierRange.to || !isParcelEditableByStatus(parcel)" size="small" />
                                            <sw-button v-if="hasEditAccess()" size="small" variant="primary" :disabled="!canSaveNeuerLiefertermin(parcel)" @click="saveNeuerLiefertermin(row.order, parcel)">
                                                {{ $t('global.default.save') }}
                                            </sw-button>
                                        </td>
                                        <td>{{ weekLabelFromDate(parcel.neuerLieferterminRange.to) }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            </template>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>


        <div
            v-if="showTrackingModal"
            class="lieferzeiten-order-table__tracking-overlay"
            role="dialog"
            aria-modal="true"
        >
            <div class="lieferzeiten-order-table__tracking-dialog">
                <header class="lieferzeiten-order-table__tracking-header">
                    <h3>
                        Tracking {{ activeTracking && activeTracking.carrier && activeTracking.carrier.toUpperCase() }} / {{ activeTracking && activeTracking.number }}
                    </h3>
                    <button type="button" class="lieferzeiten-order-table__tracking-close" @click="closeTrackingModal">×</button>
                </header>

                <div class="lieferzeiten-order-table__tracking-body">
                    <div v-if="isTrackingLoading">{{ $t('lieferzeiten.tracking.loading') }}</div>
                    <div v-else-if="trackingError" class="lieferzeiten-order-table__tracking-error">{{ trackingError }}</div>
                    <div v-else-if="!trackingEvents.length">{{ $t('lieferzeiten.tracking.empty') }}</div>
                    <ul v-else class="lieferzeiten-order-table__tracking-list">
                        <li v-for="(event, index) in trackingEvents" :key="`${event.timestamp}-${index}`">
                            <strong>{{ event.status }}</strong>
                            <div>{{ event.label }}</div>
                            <small>{{ event.timestamp }}<span v-if="event.location"> · {{ event.location }}</span></small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <sw-empty-state
            v-if="displayedOrders.length === 0"
            :title="$t('lieferzeiten.emptyState.title')"
            :description="$t('lieferzeiten.emptyState.description')"
        />
    </div>
{% endblock %}
